.title2 {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  text-decoration: underline;
  color: rgb(42, 174, 97);
  margin-bottom: 50px;
}

.button1 {
  border: 1px solid grey;
  background-color: none;
  color: none;
  padding: 2px 2px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin: 6px;
}

/* .button1:hover {opacity: 0.6} */